.blog_slider_image_slider {
  height: 100%;
}

.slider_image {
  width: 100%;
  height: 100%;
}

.slider_image img {
    object-fit: cover;
}

@media (max-width: 500px) {
  .blog_slider_image_slider div[class*="flickity-viewport"] {
    height: 100% !important;
  }
}
