.cs_container {
  background-color: #32c58b;
  grid-row: 2 / 4;
  border-radius: 30px;
}

.community_summary {
  height: 100%;
}

.community_summary > div {
  height: 100%;
  min-height: 160px;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
  touch-action: pan-y;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.flickity-cell {
  position: absolute;
  left: 0;
}

.summary_card {
  height: 100%;
  min-height: 160px;
  padding: 20px;
}

.summary_card h5 em {
  color: #d9db4d;
}

.community_summary ol[class*="flickity-page-dots"] {
  justify-content: flex-start;
  left: -25px;
  bottom: 20px;
  position: absolute;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.community_summary ol[class*="flickity-page-dots"] > li {
  width: 22px;
  height: 6px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
  margin: 0 3px;
  background-color: rgba(0, 82, 65, 0.4);
}

.community_summar ol[class*="flickity-page-dots"] > li.is-selected {
  background-color: rgba(0, 82, 65, 0.4);
}

.dot {
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 0 8px;
  background: rgba(51, 51, 51, 0.25);
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  text-indent: -9999px;
  overflow: hidden;
}

.cs_button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.cs_button_content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: 0;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.cs_button_content > span {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.15s;
}

@media (max-width: 500px) {
  .summary_card h5 {
    max-width: 70%;
  }

  .community_summary ol[class*="flickity-page-dots"] > li {
    width: 28px;
    height: 8px;
  }

  .community_summary ol[class*="flickity-page-dots"] {
    justify-content: flex-start;
    left: 20px;
    bottom: 20px;
  }
}
