.subscribe_section {
  display: flex;
  margin: 160px 0;
}

.subscribe_container {
  display: flex;
  gap: 10px;
}

.subscribe_image {
  width: 40%;
  border-radius: 30px;
  overflow: hidden;
  transition: 0.3s;
}

.subscribe_image > section {
  height: 100%;
}

.subscribe_main {
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: #0046c7;
  color: #fff;
  border-radius: 30px;
  padding: 30px;
  overflow: hidden;
  transition: 0.3s;
}

.subscribe_main h3 {
  max-width: 600px;
  margin: 0 0 20px;
}

.subscribe_form {
  padding: 25px 0;
}

.subscribe_form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.subscribe_form input[type="email"] {
  width: 100%;
  margin: 0 0 10px;
  padding: 20px;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  overflow: hidden;
}

.subscribe_form > form > button > span > span {
  padding-right: 0px;
}

.subscribe_button {
  color: #fff;
}

.subscribe_button > span > .arrow_container {
  background-color: transparent;
}

.subscribe_button > span > a {
  background-color: transparent;
}

.subscribe_button > span > a > svg {
  display: none;
}

.subscribe_copy {
  max-width: 500px;
  margin: auto 0 0;
  padding: 80px 0 0;
}

@media (max-width: 500px) {
  .subscribe_section {
    margin: 80px 0;
  }
  .subscribe_container {
    flex-direction: column;
  }
  .subscribe_image {
    width: 100%;
    aspect-ratio: 8/5;
  }
  .subscribe_main {
    width: 100%;
    padding: 20px;
  }
}
